* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nowrap{
    white-space: nowrap;
}

.box {
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  max-width: 350px;
  box-shadow: 10px 10px 5px black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.box__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box__title {
  margin-top: 1rem;
  width: 100px;
  height: 30px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
}

.box__info h2:hover{
    color: hsl(47, 88%, 63%);
}

.fade{
    opacity: 0.5;
}

.box__profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.box__profile p{
    font-weight: bolder;
}

.profile__pic{
    max-width: 30px;
}